@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Departamento.Id" />
            <div class="form-group">
                <label asp-for="Departamento.Nombre" class="control-label"></label>
                <input asp-for="Departamento.Nombre" class="form-control" />
                <span asp-validation-for="Departamento.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento.Codigo" class="control-label"></label>
                <input asp-for="Departamento.Codigo" class="form-control" />
                <span asp-validation-for="Departamento.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento.PaisId" class="control-label"></label>
                <select asp-for="Departamento.PaisId" class="form-control" asp-items="ViewBag.Pais_Id"></select>
                <span asp-validation-for="Departamento.PaisId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Departamento.Active" /> @Html.DisplayNameFor(model => model.Departamento.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
